@model Project1.Dtos.PlaylistDto

@{
    ViewData["Title"] = "Playlist successfully deleted!";
}

<div style="display:flex; flex-direction: column">
    <div style="margin-top:3em">
        <a class="nav-link text-dark" asp-area="" asp-controller="PlaylistList" asp-action="Index">Back to playlists</a>
    </div>
    <h1>The playlist was deleted successfully!</h1>
</div>