@model Project1.Dtos.SongDto

@{
    ViewData["Title"] = "Songs successfully removed from playlist!";
}

<div style="display:flex; flex-direction: column">
    <div style="margin-top:3em">
        <a class="nav-link text-dark" asp-area="" asp-controller="PlaylistList" asp-action="Index">Back to all playlists</a>
    </div>
    <h1>The song(s) were removed from playlist successfully!</h1>
</div>