html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.empty-playlist {
    background-color: palevioletred;
    border: solid 1px red;
    border-radius: 5px;
}