@model Project1.Dtos.SongDto

@{
    ViewData["Title"] = "Song successfully deleted!";
}

<div style="display:flex; flex-direction: column">
    <div style="margin-top:3em">
        <a class="nav-link text-dark" asp-area="" asp-controller="SongList" asp-action="Index">Back to songs</a>
    </div>
    <h1>The song was deleted successfully!</h1>
</div>