@model Project1.Dtos.PlaylistDto

@{
    ViewData["Title"] = "New playlist";
}


<div style="display:flex; flex-direction: column">
    <div>
        <a class="nav-link text-dark" asp-area="" asp-controller="PlaylistList" asp-action="Index">Back to playlists</a>
     </div>
    <h1>Create a new playlist:</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddPlaylist">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="AddPlaylist" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>